{% extends "blog/base.html"%}
{% block content %}
      <article class="media content-section">
        <!--<img class=" rounded-circle article-metadata" src="{{ object.Author.profile.image.url }}">-->
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-posts' object.Author.username %}">{{ object.Author }}</a>
            <small class="text-muted">{{ object.date_posted|date:"F d Y" }}</small>
            {% if object.Author == user%}
              <div>
                 <a class="btn btn-outline-secondary mt-1 mb-1"  href="{% url 'post-update' object.id %}">Update</a>
                 <a class="btn btn-outline-danger mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a> 
              </div> 
            {% endif%}
          </div>
          <h2><a class="article-title">{{ object.title }}</a></h2>
          <p class="article-content">{{ object.Book }}</p>
          <br>
          <p>For more details click :</p>
          <a href="{{ post.link }}">Link</a>
        </div>
      </article>
{% endblock content %}          
